image: 'rust:latest'

stages:
  - test
  - doc
  - build

variables:
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt

before_script:
  - apt-get update -yq
  # Setup SSH deploy keys
  - 'which ssh-agent || ( apt-get install -qq openssh-client )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

test:
  stage: test
  script:
    - rustc --version
    - cargo --version
    - cargo test --verbose

pages:
  stage: doc
  script:
    - cargo doc --no-deps
    - mv target/doc public
    - echo '<meta http-equiv="refresh" content="0; url=citest">' > public/index.html
  artifacts:
    paths:
      - public
  only:
    - master
    
deploy_staging:
  type: deploy
  environment:
    name: staging
  script:
    - ssh medald@jim.test.bwinf.de "sudo /bin/systemctl stop medal && exit"
    - "scp target/release/medal medald@jim.test.bwinf.de:medal/"
    - ssh medald@jim.test.bwinf.de "sudo /bin/systemctl start medal && exit"
  only:
    - master

cache:
  paths:
    - apt/
    - cargo/
    - target/

