image: 'rust:latest'

stages:
  - test
  - doc
  - build
  - deploy

variables:
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt

before_script:
  - apt-get update -yq
  - rustup component add clippy
  - rustup component add rustfmt
  # Setup SSH deploy keys
  - 'which ssh-agent || ( apt-get install -qq openssh-client )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

test:
  stage: test
  script:
    - rustc --version
    - cargo --version
    - cargo test --features "strict" --verbose
    - make clippy

pages:
  stage: doc
  script:
    - cargo doc --no-deps
    - echo '<meta http-equiv="refresh" content="0; url=medal">' > target/doc/index.html
  only:
    - master
    
build:
  stage: build
  script:
    - cargo build --release
  only:
    - master
    
deploy:
  stage: deploy
  script:
    - ssh medald@jim.test.bwinf.de "sudo /bin/systemctl stop medal && exit"
    - "scp target/release/medal medald@jim.test.bwinf.de:medal/"
    - "scp -r migrations static templates medald@jim.test.bwinf.de:medal/"
    - "scp -r target/doc medald@jim.test.bwinf.de:medal/"
    - ssh medald@jim.test.bwinf.de "sudo /bin/systemctl start medal && exit"
  only:
    - master

cache:
  paths:
    - apt/
    - cargo/
    - target/

