<h1>Administration</h1>
<h2>Admin-Suche</h2>
<p>% ist ein Wildcart in der Namenssuche.</p>
<p>Die Suche gibt nur bis zu 30 Ergebnisse aus, um den Server nicht übermäßig zu belasten. Ggf. eine genauere Suche durchführen!</p>

<p>
   <form action="/admin/user/" method="post">
      Vorname:<br>
      <input type="text" name="firstname" value="%">
      <br>
      Nachname:<br>
      <input type="text" name="lastname" autofocus>
      <br><br>
      <input type="submit" value="Nach Namen suchen">
   </form>
</p>

<p>
   <form action="/admin/user/" method="post">
      Logincode:<br>
      <input type="text" name="logincode">
      <br><br>
      <input type="submit" value="Nach Logincode suchen">
   </form>
</p>

<p>
   <form action="/admin/user/" method="post">
      Gruppencode:<br>
      <input type="text" name="groupcode">
      <br><br>
      <input type="submit" value="Nach Gruppencode suchen">
   </form>
</p>

<p>
   <form action="/admin/user/" method="post">
      ID:<br>
      <input type="text" name="id">
      <br><br>
      <input type="submit" value="Nach ID suchen">
   </form>
</p>

<p>
   <form action="/admin/user/" method="post">
      PMS-ID:<br>
      <input type="text" name="pmsid">
      <br><br>
      <input type="submit" value="Nach PMS-ID suchen">
   </form>
</p>

<h2>Wettbewerbs-Export</h2>
<a href="/admin/contest/">Wettbewerbsübersicht</a>

<h2>Datenbankstatus</h2>
{{#if dbstatus_secret}}
  <a href="/dbstatus?{{dbstatus_secret}}">
{{else}}
  <a href="/dbstatus">
{{/if}}
Datenbankstatus</a>

<h2>Alte Benutzeraccounts aufräumen</h2>
<a href="/admin/cleanup">Datenbank-Cleanup</a>
