<h1>Administration</h1>
<h2>Admin-Suche</h2>
<p>Suche beachtet Groß-/Kleinschreibung. Das Prozentzeichen % ist ein Wildcart in der Namenssuche. Die Suche gibt nur bis zu 30 Ergebnisse aus, auch wenn es mehr gibt!</p>

<p>
   <form action="/admin/user/" method="post">
      Vorname:<br>
      <input type="text" name="firstname" value="%">
      <br>
      Nachname:<br>
      <input type="text" name="lastname" autofocus>
      <br><br>
      <input type="submit" value="search">
   </form>
</p>

<p>
   <form action="/admin/user/" method="post">
      Logincode:<br>
      <input type="text" name="logincode">
      <br><br>
      <input type="submit" value="search">
   </form>
</p>

<p>
   <form action="/admin/user/" method="post">
      Gruppencode:<br>
      <input type="text" name="groupcode">
      <br><br>
      <input type="submit" value="search">
   </form>
</p>

<p>
   <form action="/admin/user/" method="post">
      ID:<br>
      <input type="text" name="id">
      <br><br>
      <input type="submit" value="search">
   </form>
</p>

<p>
   <form action="/admin/user/" method="post">
      PMS-ID:<br>
      <input type="text" name="pmsid">
      <br><br>
      <input type="submit" value="search">
   </form>
</p>
<h2>Wettbewerbs-Export</h2>
<a href="/admin/contest/">Wettbewerbsübersicht</a>
