<h1>Administration</h1>
<h2>Alte Daten löschen</h2>
<p>Dies Löscht alle verwalteten Schüleraccounts, die länger als 180 Tage nicht genutzt wurden, sowie alle Lehreraccounts länger als 3 Jahre und alle anderen Accounts die länger als 10 Jahre nicht genutzt wurden.</p>

<p>
  <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <input type="submit" value="Alte Daten löschen!">
  </form>
</p>
