<h1>Keine Cookies</h1>

<p>
Leider konnte diese Seite kein Cookie in deinem Browser setzen.

<p>
Möglicherweise hast du Cookies in deinem Browser allgemein oder für diese Seite deaktiviert. In diesem Fall aktiviere bitte Cookies für diese Seite.

Vielleicht unterstützt dein Browser auch keine Cookies. Dann kannst du Teile dieser Seite leider nicht nutzen.

<p>
Wenn du Cookies jetzt in deinem Browser aktiviert hast, kannst du auf diesen Button drücken, um die angeforderte Seite noch einmal zu laden.<br>
<button onclick="location.href='/'" type="button">Ich habe Cookies aktiviert, noch einmal probieren</button>

<p>
Ansonsten kommst du mit diesen Buttons zurück oder zur Startseite.<br>
<button onclick="window.history.back()">Zurück</button><br>
<button onclick="location.href='/'" type="button">Zur Startseite</button>

<h3>Wozu benötigt diese Seite Cookies</h3>

<p>
Die Cookies werden von dieser Seite benötigt, um eine Session zwischen deinem Browser und dem Server aufzubauen.
Ansonsten könnte der Server beim nächsten Seitenaufruf nicht mehr wissen, welcher Computer die Seite anfragt.
Das brauchen wir einerseits, damit du dich auf der Seite einloggen kannst (sonst wüssten wir nicht, wer sich eingeloggt hat) und andereseits, um deine Aufgabenlösungen zu speichern.

<p>
Die Cookies werden nicht zu Werbezwecken verwendet oder gar an Dritte weitergegeben.