
<script src="/static/lib/papaparse/papaparse-5.0.2.min.js"></script>

<script>

function dragOverHandler(ev) {
  console.log('File(s) in drop zone');
  ev.preventDefault();

  document.getElementById("drop_zone").style.backgroundColor = "lightgreen";
}

function dragLeaveHandler(ev) {
  console.log('File(s) no longer in drop zone');
  ev.preventDefault();

  document.getElementById("drop_zone").style.backgroundColor = "";
}

var senddata = [];

function dropHandler(ev) {
  console.log('File(s) dropped');
  ev.preventDefault();

  document.getElementById("drop_zone").style.backgroundColor = "";

  var file;
  if (ev.dataTransfer.items) {
    if (ev.dataTransfer.items.length != 1) {
      alert("Bitte nur eine Datei ablegen!")
    }
    if (ev.dataTransfer.items[0].kind === 'file') {
      file = ev.dataTransfer.items[0].getAsFile();
    }
  } else {
    if (ev.dataTransfer.files.length != 1) {
      alert("Bitte nur eine Datei ablegen!")
    }
    file = ev.dataTransfer.files[0];
  }

  console.log('... file.name = ' + file.name);

  var reader = new FileReader();
  reader.onload = function(evt) {
    var text = evt.target.result;

    document.getElementById("data").innerHTML = "";
    senddata = [];

    var data = Papa.parse(text);
    console.log(data);

    var counter = 0;
    for (var i = 0; i < data.data.length; i++) {
      if (data.data[i].length < 4) {
        continue;
      }
      var tr = document.createElement("tr");
      tr.id = "tr" + counter;
      var td = document.createElement("td");
      td.innerHTML = "<a href=\"javascript:skip(" + counter + ");\"><button>Löschen</button></a>";
      tr.appendChild(td);
      var sd = [];
      for (var j = 0; j < 4; j++) {
        // Skip line if any name is longer than 128 chars
        if (data.data[i][j].length > 128) {
          break;
        }
        var td = document.createElement("td");
        td.innerText = data.data[i][j];
        tr.appendChild(td);
        sd.push(data.data[i][j]);
      }
      if (sd.length < 4) {
        continue;
      }
      senddata.push({skip:false,data:sd});
      document.getElementById("data").appendChild(tr);
      counter++;
    }

    document.getElementById("result").style.display = "";
  }

  reader.readAsText(file);
}

function skip(i) {
  document.getElementById("tr" + i).remove();
  senddata[i].skip=true;
}

function clear() {
  document.getElementById("data").innerHTML = "";
  senddata = [];
  document.getElementById("result").style.display = "none";
}

function copy_data() {
  // We hope senddata is no longer used after sending …

  // Should a stable sort method be used?
  senddata.sort(function (a, b) {return (a.data[0]).localeCompare(b.data[0]);});

  var actual_send_data = [];
  for (var i = 0; i < senddata.length; i++) {
    if (!senddata[i].skip) {
      actual_send_data.push(senddata[i].data);
    }
  }

  document.getElementById("send_data").value = JSON.stringify(actual_send_data);
}

</script>

<style>
#drop_zone {
  border: 5px solid green;
  margin: 10px auto;
  padding: 50px;
  width:  500px;
  height: 100px;
  text-align: center;
}

table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
}

td, th {
  padding: 4px;
  border-left:0px;
  border-right:0px;
}
</style>

<body ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);" style="overflow-y:scroll;">
  <div style="width:800px; margin: 10px auto;">
     <p>Hier können Sie Gruppen und Accounts über eine CSV-Datei anlegen. Schieben Sie dazu die CSV-Datei auf das grüne Feld.</p>

     <p>Die hochzuladene CSV-Datei muss den folgenden Kriterien genügen:
        <ul>
           <li>Die CSV-Datei muss Komma- oder Tab-getrennt sein</li>
           <li>Die Datei muss in UTF-8 (Unicode UTF-8) kodiert sein</li>
           <li>Die Datei muss mindestens vier Spalten enthalten. Alle weiteren Spalten werden ignoriert.
              <ol>
                 <li>Der Name der Gruppe. (Es können mehrere Gruppen in einer Datei definert sein.)</li>
                 <li>Die Jahrgangsstufe des Teilnehmers.</li>
                 <li>Der Vorname des Teilnehmers.</li>
                 <li>Der Nachname des Teilnehmers.</li>
              </ol>
              Diese vier Spalten entsprechen den ersten vier Spalten der CSV-Dateien für den Upload zum Informatik-Biber.
           </li>
        </ul>

        Ein Beispiel könnte so aussehen:
        <pre style="margin-left:20px;">
Klasse,Stufe,Vorname,Nachname
7a,7,Gabi,Musterfrau
7a,7,Max,Mustermann
Info19,12,Ferdinand,Fallbeispiel</pre>
        </p>

     <p>Im Anschluss auf den Upload haben Sie hier noch die Möglichkeit einzelne Zeilen zu löschen (z. B. Kopfzeilen) bevor Sie die Gruppen anlegen. Angelegte Gruppen lassen sich nicht mehr löschen.</p>
  </div>
   
  <div id="drop_zone">
    <p>CSV-Datei hier hineinschieben …</p>
  </div>

  <div id="result" style="display:none; width:800px; margin: 10px auto;">
    <div style="float:left;margin:40px;width:300px;">
      <form action="csv" method="post" onsubmit="copy_data();">
        <input type="hidden" name="group_data" id="send_data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="submit" style="margin:40px;" value="Gruppen erstellen"></input><br>
      </form>
      <p>Bitte prüfen Sie vorher, dass alle Daten korrekt sind und Umlaute richtig dargestellt werden. Löschen Sie eventuell vorhandene Kopfzeilen. Kein Name darf länger als 100 Zeichen lang sein.</p>
    </div>
    <a href="javascript:clear();"><button>Alle Löschen</button></a><br/>
    <table>
      <thead>
        <tr><th></th><th>Gruppe</th><th>Jgst.</th><th>Vorname</th><th>Nachname</th></tr>
      </thead>
      <tbody id="data">
      </tbody>
    </table>
  </div>
</body>
