{{#*inline "page"}}
<div class="columns">
   <div class="column is-12 is-offset-1">
      <nav class="breadcrumb" aria-label="breadcrumbs">
         <ul>
            <li></li>
            <li><a href="/">Startseite</a></li>
            <li class="is-active"><a href=".">Wettbewerbsübersicht</a></li>
         </ul>
      </nav>
   </div>
</div>

      <div class="columns" id="bare_content">
        <div class="column is-4 is-offset-2">
          <div style="min-height: 400px; margin-bottom:100px;">
            <h3 class="title is-4">{{contestlist_header}}</h3>
            {{#each contest}}
              <a href="/contest/{{ id }}">
                 <div class="notification is-success" style="margin-bottom:20px;">
                  <h3 class="title is-5">{{ name }}</h3>
                </div>
              </a>
            {{/each}}
            {{#unless contest.0}}
              <p>
                <em>Es sind zur Zeit hier keine Wettbewerbe / Aufgaben verfügbar.</em>
              </p>
            {{/unless}}
          </div>
        </div>
      </div>
{{/inline}}
{{~> (parent)~}}
