{{#*inline "page"}}
      {{#if teacher}}
        <div class="columns alogin">
          <div class="column is-8 is-offset-2">
            <a href="/group/">
              <div class="notification is-warning">
                <h3 class="title is-5">Gruppenverwaltung</h3>
                <p>Gruppen für die Wettbewerbsteilnahme anlegen und verwalten</p>
              </div>
            </a>
          </div>
        </div>
      {{/if}}

      <div class="columns">

         <div class="column is-4 is-offset-2">
          <a href="/contest/?filter=open">
            <div class="notification" style="background-color:#e5fae5">
              <h3 class="title is-4">Trainingsaufgaben</h3>
              <h4 class="subtitle is-5">Zum Ausprobieren und Üben</h4>
              <img src="/static/images/green.png" style="width:30%; margin:10px 35% 25px">
              ➙ Zu den Trainingsaufgaben …
            </div>
          </a>
        </div>

        <div class="column is-4 is-offset-0">
          <a href="/contest/?filter=current">
            <div class="notification" style="background-color:#e5f0f8">
              <h3 class="title is-4">Aktuelle Wettbewerbe</h3>
              <h4 class="subtitle is-5">Jugendwettbewerb Informatik</h4>
              <img src="/static/images/white.png" style="width:30%; margin:10px 35% 25px">
              ➙ Zu den Wettbewerben …
            </div>
          </a>
        </div>

      </div>
      <div class="columns">

        <div class="column is-4 is-offset-2">
          <a href="https://bwinf.de/jwinfportal">
            <div class="notification">
              <h3 class="title is-4">➚ Informationen</h3>
              <img src="/static/images/logomittext.png" style="width:60%; margin: -25px 20% 25px;">
              ➚ Informationen zur Anmeldung und Teilnahme am Wettbewerb, Termine, Materialien und mehr …
            </div>
          </a>
        </div>

        <div class="column is-4 is-offset-0">
          <a href="/contest/?filter=challenge">
            <div class="notification" style="background-color: #d2222217">
              <h3 class="title is-4">Herausforderungen</h3>
              <h4 class="subtitle is-5">Mit Zeitbeschränkung</h4>
              <img src="/static/images/gross.png" style="width:30%; margin: 0px 35% 37px;">
              ➙ Zu den Herausforderungen …
            </div>
          </a>
        </div>

      </div>
{{/inline}}
{{~> (parent)~}}
