{{#*inline "page"}}
      {{#if teacher}}
        <div class="columns alogin">
          <div class="column is-8 is-offset-2">
            <a href="/group/">
              <div class="notification is-warning">
                <h3 class="title is-5">Gruppenverwaltung</h3>
                <p>Gruppen für die Wettbewerbsteilnahme anlegen und verwalten</p>
              </div>
            </a>
          </div>
        </div>
      {{/if}}

      <div class="columns">

        <div class="column is-8 is-offset-2">
          <div class="tile is-ancestor">
            <div class="tile is-vertical">
              <div class="tile">
                <div class="tile is-6 is-parent">
                  <a href="/contest/?filter=open" class="tile is-child notification hoverfade" style="background-color:#e5fae5">
                    <h3 class="title is-4">Trainingsaufgaben</h3>
                    <h4 class="subtitle is-5">Zum Ausprobieren und Üben</h4>
                    <img src="/static/images/green.png" style="width:30%; margin:10px 35% 25px">
                    <img src="/static/images/icons/arrow.svg" style="vertical-align: text-bottom; filter: invert(43%) sepia(45%) saturate(3202%) hue-rotate(189deg) brightness(88%) contrast(86%);height:2.5ex;">
                    Zu den Trainingsaufgaben …
                  </a>
                </div>
                <div class="tile is-parent is-6">
                  <a href="/contest/?filter=current" class="tile is-child notification hoverfade" style="background-color:#e5f0f8">
                    <h3 class="title is-4">Aktuelle Wettbewerbe</h3>
                    <h4 class="subtitle is-5">Jugendwettbewerb Informatik</h4>
                    <img src="/static/images/white.png" style="width:30%; margin:10px 35% 25px">
                    <img src="/static/images/icons/arrow.svg" style="vertical-align: text-bottom; filter: invert(43%) sepia(45%) saturate(3202%) hue-rotate(189deg) brightness(88%) contrast(86%);height:2.5ex;">
                    Zu den Wettbewerben …
                  </a>
                </div>
              </div>
              <div class="tile">
                {{#if config.information_link}}
                  <div class="tile is-6 is-parent">
                    <a href="{{ config.information_link }}" class="tile is-child notification hoverfade">
                      <h3 class="title is-4">
                        <img src="/static/images/icons/external-link.svg" style="vertical-align: text-bottom; filter: invert(43%) sepia(45%) saturate(3202%) hue-rotate(189deg) brightness(88%) contrast(86%);height:2.5ex;">
                        Informationen</h3>
                        <img src="/static/images/logomittext.png" style="width:60%; margin: -25px 20% 25px;">
                        <img src="/static/images/icons/external-link.svg" style="vertical-align: text-bottom; filter: invert(43%) sepia(45%) saturate(3202%) hue-rotate(189deg) brightness(88%) contrast(86%); height:2.5ex;">
                        Informationen zur Anmeldung und Teilnahme am Wettbewerb, Termine, Materialien und mehr …
                    </a>
                  </div>
                {{/if}}
                <div class="tile is-parent is-6">
                  <a href="/contest/?filter=challenge" class="tile is-child notification hoverfade" style="background-color: #fff1ea">
                    <h3 class="title is-4">Herausforderungen</h3>
                    <h4 class="subtitle is-5">Aufgaben mit und ohne Zeitbeschränkung</h4>
                    <img src="/static/images/gross.png" style="width:30%; margin: 0px 35% 37px;">
                    <img src="/static/images/icons/arrow.svg" style="vertical-align: text-bottom; filter: invert(43%) sepia(45%) saturate(3202%) hue-rotate(189deg) brightness(88%) contrast(86%);height:2.5ex;">
                    Zu den Herausforderungen …
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
{{/inline}}
{{~> (parent)~}}
