{{#*inline "page"}}
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <h3 class="title is-4">Lehrer-Informationen</h3>
      {{#if teacher_page }}
        <iframe src="/tasks/{{ teacher_page  }}" style="height: calc(100vh - 550px); min-height:200px;"></iframe>
      {{else}}
        <em>Noch keine Informationen vorhanden</em>
      {{/if}}
    </div>
  </div>
{{/inline}}
{{~> (parent)~}}

