{{#*inline "page"}}

<div class="columns">
  <div class="column is-12 is-offset-1">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li></li>
        <li><a href="/">JWINF</a></li>
        <li class="is-active"><a href=".">Lehrkräfte-Material</a></li>
      </ul>
    </nav>
  </div>
</div>

  <div class="columns">
    <div class="column is-8 is-offset-2">
      <h3 class="title is-4">Lehrer-Informationen</h3>
      {{#if config.teacher_page }}
        <iframe id="teacher_page" src="/tasks/{{ config.teacher_page  }}" style="height: calc(100vh - 550px); min-height:200px; width: 100%"></iframe>
      {{else}}
        <em>Noch keine Informationen vorhanden</em>
      {{/if}}
    </div>
  </div>

<script type="text/javascript">
  function setiframesize() {
    frame = document.getElementById('teacher_page')
    frame.style.height = (frame.contentWindow.document.body.scrollHeight + 50) + "px";
  }
  setTimeout(setiframesize, 50);
  setTimeout(setiframesize, 1000);
  window.onresize = setiframesize;
</script>

{{/inline}}
{{~> (parent)~}}

