<h1>Gruppe: 3a</h1>

<p>Gruppencode: r487an48ase<br>
Mitglieder: 1<br>
Marker: 3a</p>

<p><a href="/group">Zurück zur Gruppenübersicht</a></p>
<h2>Mitglieder</h2>
<table>
   <tr>
      <th>Name</th>
      <th>Logincode</th>
      <th>Jahrgangstufe</th>
   </tr>
   <tr>
      <td><a href="user/1">Robert Czechowski</a></td>
      <td>ag83uten</td>
      <td>3</td>
      <td><a href="user/1">bearbeiten …</a></td>
   </tr>
</table>


<p><a href="/group">Zurück zur Gruppenübersicht</a></p>
