<h1>Profil: Robert Czechowski</h1>

<form action="" method="post">
   <table>
      <tr>
         <td>Vorname</td><td><input value="Robert"></td>
      </tr>
      <tr>
         <td>Nachname</td><td><input value="Czechowski"></td>
      </tr>
      <tr>
         <td>Jahrgangsstufe</td><td>
            <select>
               <option value="0">Noch kein Schüler</option>
               <option value="1" selected>1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>
               <option value="9">9</option>
               <option value="10">10</option>
               <option value="11">11 (G8)</option>
               <option value="12">12 (G8)</option>
               <option value="111">11 (G9)</option>
               <option value="112">12 (G9)</option>
               <option value="113">13</option>
               <option value="14">Berufsschule</option>
               <option value="15">Kein Schüler mehr</option>
            </select>
         </td>
      </tr>
      <tr>
         <td></td><td><input type="submit" value="Speichern"></td>
      </tr>
   </table>
</form>

<a href="javascript:window.history.back();">Zurück</a>
